absl-py==0.7.1
astor==0.7.1
Click==7.0
cycler==0.10.0
Django==2.2.1
Flask==1.0.2
gast==0.2.2
grpcio==1.20.1
h5py==2.9.0
image==1.5.27
itsdangerous==1.1.0
Jinja2==2.10.1
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
Markdown==3.1
MarkupSafe==1.1.1
mock==2.0.0
numpy==1.15.3
pbr==5.2.0
Pillow==6.0.0
protobuf==3.7.1
pygame==1.9.4
pyparsing==2.3.0
python-dateutil==2.7.5
pytz==2019.1
PyYAML==5.1
rope==0.14.0
scipy==1.2.1
six==1.11.0
sqlparse==0.3.0
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
virtualenv==16.0.0
Werkzeug==0.15.2
