<form action="/" method="POST" enctype = "multipart/form-data">
    <p>
        Upload image<br/>
        <input type="file" name="imageUpload"/>
    </p>
    <p><input type="submit" value="Submit"/></p>
</form>
{% if request.method == 'POST' %}
    <p>
        Current image:<br/>
        <img height="200px" src="{{model.base64Image}}" />
    </p>
    <h1>Is it a lava lamp?</h1>
    <h1>Answer is: {{'Yes' if model.islavalamp else 'No'}}!</h1>
    <p>Exact prediction: {{model.probability}}<br/>(0 - Not lava lamp, 1 - Lava lamp)</p>
{% endif %}